[workspace]

resolver = "2"

members = [
    "rust",
    "pyo3",
    "tools/contributions",
    "tools/file_names",
    "tools/provenance",
    "tools/topology",
]

[workspace.package]
version = "5.0.0"

[profile.release] # Used for the examples
opt-level = 3             # like --release
lto = "fat"               # Full LTO
overflow-checks = false   # Disable integer overflow checks.
debug = true              # Include debug info.
debug-assertions = false  # Disables debug assertions.
codegen-units=1           # slower compile times, but maybe better perf
