datafusion < 43.0.0  # https://github.com/apache/datafusion/issues/14055
luigi != 3.5.2, != 3.7.0, != 3.7.1, != 3.7.2 # https://github.com/spotify/luigi/issues/3312 and https://github.com/spotify/luigi/issues/3376 and https://github.com/spotify/luigi/issues/3382
pyarrow < 19.0.0  # https://github.com/apache/arrow/issues/45283
python-magic
pyzstd
tqdm
scancode-toolkit==32.2.1  # output may vary across versions; so we pin it in order to have reproducible datasets
