[package]
name = "swh_graph_topology"
description = "Collection of topology analysis utilities based on swh-graph"
version.workspace = true
edition = "2021"

[dependencies]
anyhow = {version="1.0.71", features=["backtrace"]}
arrow = { version = "51.0" }
clap = { version = "4.1.6", features = ["derive"] }
csv = "1.3.0"
dsi-progress-logger = "0.1.0"
itertools = { version = "0.11.0" }
log = "0.4.17"
parquet = { version = "51.0.0", default-features = false, features = ["arrow", "zstd"] }
rayon = { version = "1.9.0" }
serde = { version = "1.0", features = ["derive"] }
stderrlog = "0.5.4"
swh-graph = { path = "../../rust/", features = ["parquet", "dataset-writer", "serde"] }

[[bin]]
name = "toposort"
