#!/usr/bin/make -f

export PYBUILD_NAME=swh.graph
export no_proxy=localhost,127.0.0.1
# only naive_client implementation are tested
export PYBUILD_TEST_ARGS=-vv -s -k 'naive'

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	for pyvers in $(shell py3versions -vr); do \
	    mkdir -p $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/swh/graph/ ; \
	    cp -r $(CURDIR)/*.egg-info $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/ ; \
	    cp $(CURDIR)/swh/graph/*client.py $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/swh/graph/ ; \
	    cp -r $(CURDIR)/swh/graph/tests/ $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/swh/graph/ ; \
	done
