#!/usr/bin/make -f

export PYBUILD_NAME=swh.graph
export no_proxy=localhost,127.0.0.1
# only naive for client tests to pass
export PYBUILD_TEST_ARGS=-vv -s -k 'not remote'

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
	for pyvers in $(shell py3versions -vr); do \
		mkdir -p $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/swh/graph/ ; \
		mv $(CURDIR)/debian/python3-swh.graph/usr/lib/python$$pyvers/dist-packages/*.egg-info \
		   $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/ ; \
		mv $(CURDIR)/debian/python3-swh.graph/usr/lib/python$$pyvers/dist-packages/swh/graph/{*client.py,} \
		   $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/swh/graph/ ; \
		mv $(CURDIR)/debian/python3-swh.graph/usr/lib/python$$pyvers/dist-packages/swh/graph/tests \
		   $(CURDIR)/debian/python3-swh.graph.client/usr/lib/python$$pyvers/dist-packages/swh/graph/ ; \
	done
